@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,500'); // FONT
@import url( 'https://necolas.github.io/normalize.css/5.0.0/normalize.css'); // RESET
@import "components/variables-mixins"; // VARIABLES & MIXINS
@import "components/forms"; // FORMS
@import "components/toastr"; // TOASTS

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 500;
}

html {
	line-height: 1.5;
	font-family: $font;
	font-weight: 400;
	font-size: 16px;
	// -webkit-font-smoothing: antialiased;
}

h1 {
	margin-bottom: 16px;
	line-height: normal;
}

.container {
	margin: 0 auto;
	max-width: 1360px;
	width: 90%;
	@media only screen and (min-width: 601px) {
		width: 85%;
	}
	@media only screen and (min-width: 1201px) {
		width: 72.5%;
	}
}

.loading {
	display: inline-block;
	vertical-align: top;
}

.code-block {
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 24px;
	background-color: $grey-300;
	border-radius: 2px;
	overflow: scroll;
	font-family: monospace;
}

header {
	margin-top: 56px;

	@media only screen and (max-width: 600px) {
		margin-top: 20px;
	}

	margin-bottom: 32px;
}

main {
	margin-bottom: 32px;
}

footer {
	p {
		margin: 0;

		padding-bottom: 32px;
	}

	a {
		color: $primary;
		text-decoration: none;
		padding-bottom: 2px;
		border-bottom: 2px solid $grey-300;

		&:focus,
		&:hover {
			border-bottom: 2px solid $primary;
			outline: none;
		}
		transition: border-bottom $duration;
	}
}

.explainer-text {
	ol {
		margin-top: 0;
		margin-bottom: 8px;
	}

	p {
		margin-top: 8px;
		color: $disabled;
	}
}

.m_l-8 {
	margin-left: 8px;
}

.secondary-text {
	color: $secondary;
}

.primary-text {
	color: $primary;
}

.disabled-text {
	color: $disabled;
}

.responsive-img {
	display: block;
	max-width: 100%;
	height: auto;
}

.hide {
	display: none !important;
}

.underline {
	padding: 8px 0;
	line-height: 1.15;
	outline: none;
	border: none;
	border-bottom: 2px solid $grey-300;
	width: 256px;
}