// VARIABLES
$off-black: #212121;
$medium-black: rgba(#000, 0.57);
$light-black: rgba(#000, 0.38);
$lightest-black: rgba(#000, 0.12);

$error: #E53935;

$font: "Roboto", sans-serif;

// MIXINS
@mixin placeholder {
	::-webkit-input-placeholder { @content }
	:-moz-placeholder { @content }
	::-moz-placeholder { @content }
	:-ms-input-placeholder { @content }
};


@import url('https://fonts.googleapis.com/css?family=Roboto:400,500'); // FONT
@import url('https://necolas.github.io/normalize.css/5.0.0/normalize.css'); // RESET

@import "components/forms"; // FORMS

@include placeholder {
	color: $light-black !important;
	font-family: $font;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 500;
}

html {
	line-height: 1.5;
	font-family: $font;
	font-weight: 400;
	font-size: 16px;
}

h1 {
	margin-bottom: 16px;
	line-height: normal;
}

.container {
	margin: 0 auto;
	max-width: 1360px;
	width: 90%;

	@media only screen and (min-width: 601px) { width: 85%; }
	@media only screen and (min-width: 1201px) { width: 72.5%; }

}


.loading {
	display: inline-block;
	vertical-align: top;
}

.code-block {
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 24px;
	background-color: #EEE;
	border-radius: 2px;
	overflow: scroll;

	span {
		margin: 0;
		font-family: monospace;
	}
}

header {
	margin-top: 56px;
	margin-bottom: 40px;
	@media only screen and (max-width: 600px) { margin-top: 20px; }
}

main {
	margin-top: 40px;
	margin-bottom: 56px;
}

footer {
	p {
		margin-top: 56px;
		margin-bottom: 56px;
		padding: 0 0 32px;
	}

	a {
		color: $off-black;
		text-decoration: none;
		padding-bottom: 2px;
		border-bottom: 1px solid $off-black;
	}
}

.explainer-text {
	ol {
		margin-top: 0;
		margin-bottom: 8px;
	}

	p {
		margin-top: 8px;
		color: $medium-black;
	}
}

.underline {
	padding: 4px 0;
	outline: none;
	border: none;
	border-bottom: 2px solid $lightest-black;
}

#wistiaPlayButtonColor {
	margin-right: 8px;
}

.responsive-img {
	max-width: 100%;
	height: auto;
}

.hide { display: none !important; }
