html, input, button, pre {
    color: rgba(0, 0, 0, 0.87);
}
html {
	line-height: 1.5;
	font-family: sans-serif;
}
h1 {
	margin-bottom: 16px;
	line-height: normal;
}
@media only screen and (min-width: 0) {
    html { font-size: 15px; }
}
@media only screen and (min-width: 1075px) {
    html { font-size: 15.5px; }
}
@media only screen and (min-width: 1200px) {
    html { font-size: 16px; }
}

.container {
    margin: 0 auto;
    max-width: 1360px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container { width: 85%; }
}

@media only screen and (min-width: 1076px) {
    .container { width: 72.5%; }
}

@media only screen and (min-width: 1076px) and (max-width: 1440px) {
    .container { width: 85%; }
}

.code-block {
    margin-bottom: 24px;
    padding: 24px;
    background-color: #EEE;
    border-radius: 3px;
    overflow: scroll;
	pre {
	    margin: 0;
	}
}

.wrapper {
    margin-top: 48px;
}
.explainer-text {
	ol {
		margin-top: 0;
		margin-bottom: 8px;
	}
	p {
		margin-top: 8px;
		color: rgba(0, 0, 0, 0.57);
	}
}

.field {
	margin: 48px 0;
}

input {
    outline: none;
    width: 200px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.10);
    padding: 4px 8px;
    margin-bottom: 8px;
    transition: border-bottom .2s ease;
	font-size: 16px;
	font-weight: normal;
	&.spaced-input {
	    margin-right: 16px;
	}
	&.account-input {
		width: 200px;
		margin-bottom: 24px;
		margin-right: 0;
		text-align: right;
		padding-right: 0;
	}
	@media only screen and (max-width: 1076px) {
		width: 100%;
        max-width: 400px;
        margin-bottom: 16px;
	}
}
.account-subdomain {
	display: inline;
}
button {
    border-radius: 3px;
    background-color: #DDD;
    border: none;
    padding: 8px 16px;
    margin-top: 16px;
	&:disabled {
	    background-color: #EEE;
	    color: rgba(0, 0, 0, 0.38);
	}
}
input {
	&:invalid {
    	border-bottom: 2px solid rgba(255, 0, 0, 0.76);
	}
	&:active, &:focus {
		border-bottom: 2px solid rgba(0, 0, 0, 0.87);
	}
}
.responsive-img {
    max-width: 100%;
    height: auto;
}
.hide {
	display: none;
}
label {
	display: block;
	margin-bottom: 8px;
	// font-size: 14px;
	color: rgba(0, 0, 0, 0.57);
}

::placeholder {
	font-family: sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.57) !important;
}

::-webkit-input-placeholder {
	font-family: sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.57) !important;
}

::-moz-placeholder {
	font-family: sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.57) !important;
}

:-ms-input-placeholder {
	font-family: sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.57) !important;
}

:-moz-placeholder {
	font-family: sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.57) !important;
}
