button,
html,
input {
	color: $primary;
}
@include placeholder {
	color: $secondary !important;
	font-family: $font;
}

.input-field {
	margin-top: 20px;
	padding-bottom: 16px;

	position: relative;
}

form h3 {
	margin: 0;

	padding-bottom: .5rem;
}

label.form {
	position: absolute;

	top: -12px;

	font-size: .8rem;
	font-weight: 500;

	display: block;
	line-height: 1;
	color: $disabled;

	transition: all $duration;
}

input {
	&[type="number"],
	&[type="text"] {
		width: 256px;
		box-sizing: border-box;
		padding: 8px 0;
		outline: none;
		border: none;
		border-bottom: 2px solid $grey-300;
		transition: border-bottom $duration;

		&.account-input {
			text-align: right;
		}

		&:active,
		&:focus {
			border-bottom: 2px solid $grey-900;
		}

		&.invalid,
		&:not(:required):invalid {
			border-bottom: 2px solid $red-600;
		}

		&:active,
		&:focus + label {
			color: $primary;

			transition: all $duration;
		}
	}

	&[type="checkbox"] {
		outline: none;
		position: absolute;
		left: -9999px;
		opacity: 0;
		display: none;

		& + label {
			color: $secondary;
			position: relative;
			padding-left: 26px;
			cursor: pointer;
			height: 20px;
			line-height: 20px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 14px;
				width: 14px;
				border: 2px solid $grey-900;
				border-radius: 2px;
				transition: background-color $duration, border $duration, color $duration;
			}
			transition: background-color $duration, border $duration, color $duration;
		}

		&:disabled + label {
			color: $disabled;

			&:before {
				border: 2px solid $grey-300;
			}
		}

		&:checked:disabled + label {
			color: $disabled;

			&:before {
				border: 2px solid $grey-300;
				background-color: $grey-300;
				content: '✔';
				color: $white;
				line-height: 14px;
				font-size: 12px;
				text-align: center;
			}
		}

		&:checked + label {
			color: $grey-900;

			&:before {
				border: 2px solid $grey-900;
				background-color: $grey-900;
				content: '✔';
				color: $white;
				line-height: 14px;
				font-size: 12px;
				text-align: center;
			}
		}
	}
}

button {
	border-radius: 2px;
	color: $white;
	background-color: $grey-900;
	border: none;
	padding: 8px 16px;

	&:focus,
	&:hover {
		background-color: $grey-800;
		outline: none;
	}

	&:disabled {
		color: $disabled;
		background-color: $grey-300;
	}
	transition: all $duration;
}