.toast-title {
	font-weight: bold;
}

.toast-message {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.toast-message a,
.toast-message label {
	color: #ffffff;
}

.toast-message a:hover {
	color: #cccccc;
	text-decoration: none;
}

.toast-top-full-width {
	top: 0;
	right: 0;
	width: 100%;
}

.toast-bottom-full-width {
	bottom: 0;
	right: 0;
	width: 100%;
}

.toast-top-right {
	top: 16px;
	right: 16px;
}

#toast-container {
	position: fixed;
	z-index: 999999;
}

#toast-container * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#toast-container > div {
	position: relative;
	overflow: hidden;
	margin: 0 0 8px;
	padding: 16px;
	border-radius: 2px;

	color: #ffffff;

	opacity: 0.87;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
	filter: alpha(opacity=87);
}

#toast-container > div:hover {
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);

	cursor: pointer;
}

#toast-container.toast-bottom-center > div,
#toast-container.toast-top-center > div {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#toast-container.toast-bottom-full-width > div,
#toast-container.toast-top-full-width > div {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}

.toast {
	background-color: #030303;
}

.toast-success {
	background-color: $green-600;
}

.toast-error {
	background-color: $red-600;
}

.toast-progress {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	background-color: $red-800;
}
/*Responsive Design*/
@media all and (max-width: 240px) {
	#toast-container > div {
		padding: 8px 8px 8px 50px;
		width: 11em;
	}
}
@media all and (min-width: 241px) and (max-width: 480px) {
	#toast-container > div {
		padding: 8px 8px 8px 50px;
		width: 18em;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	#toast-container > div {
		padding: 15px 15px 15px 50px;
		width: 25em;
	}
}